# Build files are registered here.
/target

# Private data is saved here.
/src/config.rs

# Local sqlite files do not need to be pushed.
*.sqlite
*.db
/neko.db-wal
*-wal

# Gets rid of config files from these IDEs.
.vscode
.idea
.vs